QPushButton {
    color: {{ theme.mainText | color }};
    border: 1px solid {{ theme.mainText | color }};
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
}

QPushButton:hover {
    background-color: {{ theme.hovered() | color }};
}

QPushButton:pressed {
    background-color: {{ theme.pressed() | color }};
}

QComboBox {
    background-color: {{ theme.baseInput() | color }};
    color: {{ theme.altText | color }};
    border: 1px solid {{ theme.mainText | color }};
    border-radius: 4px;
    padding: 3px;
}

QComboBox QAbstractItemView {
    background-color: {{ theme.baseInput() | color }};
    color: {{ theme.mainText | color }};
    selection-background-color: {{ theme.altText | color }};
}

QCheckBox, QRadioButton {
    color: {{ theme.altText | color }};
}

QCheckBox::indicator, QRadioButton::indicator {
    width: 32px;
    height: 32px;
}

QCheckBox::indicator:unchecked, QCheckBox::indicator:unchecked {
    image: {{ "UCheckbox" | image }};
    color: {{ theme.mainText | color }};
}

QCheckBox::indicator:checked, QRadioButton::indicator:checked {
    image: {{ "CCheckbox" | image }};
    color: {{ theme.mainText | color }};
}

QSpinBox {
    height: 30px;
    border-radius: 5px;
}

QSpinBox::up-button {
    min-height: 15px;
}

QSpinBox::up-arrow {
    min-width: 7px;
    min-height: 7px;
    image: {{ "UpArrow" | image }};
}

QSpinBox::down-button {
    min-height: 15px;
}

QSpinBox::down-arrow {
    min-width: 7px;
    min-height: 7px;
    image: {{ "DownArrow" | image }};
}