QLabel {
    color: {{ theme.mainText | color}};
}

QLabel:disabled {
    color: {{ theme.disabledText() | color}};
}

QLineEdit, QTextEdit {
    background-color: {{ theme.baseInput() | color}};
    color: {{ theme.altText | color }};
    border: 1px solid {{ theme.mainText | color }};
    border-radius: 4px;
    padding: 3px;
}