QListView::indicator {
    width: 32px;
    height: 32px;
}

QListView::indicator:unchecked {
    image: url("{{ theme.getImage("UCheckbox") }}");
}

QListView::indicator:checked {
    image: url("{{ theme.getImage("CCheckbox") }}");
    color: {{ theme.mainText | color}};
}

QListView::item {
    padding: 10px 5px;
}

QTableView {
    gridline-color: {{ theme.disabledText() | color }};
    alternate-background-color: {{ theme.baseInput() | color }};
    selection-color: transparent;
}

QTableView::item {
    text-align: center;
    padding: 2px;
}

QTableView QHeaderView {
    border-radius: 0px;
}