[metadata]
name = "{{ name | title }}({{ platform_name | title }})"
author = "&lt;unknown&gt;"
version = "1.0.0-stable"
description = "&lt;unknown&gt;"

[platform]
platform = "{{ platform_name }}"
window = "{{ window_name }}"