from PySide6.QtGui import QColor, QFont

from oapi import Theme, Config

from attrs import define, field

ThemeConfig = Config("{{ name }}", "theme", "theme")

@define
class {{ name }}(Theme):
    baseColor: QColor = field(default=QColor(ThemeConfig.data.colors.base))
    mainTextColor: QColor = field(default=QColor(ThemeConfig.data.colors.main_text))
    altTextColor: QColor = field(default=QColor(ThemeConfig.data.colors.alt_text))
    font: QFont = field(default=QFont("Montserrat", 12, 700))

    def preInitTheme(self, *args): ...

    def postInitTheme(self, *args): ...