[metadata]
name = "{{ name }}"
version = "1.0.0"
author = "&lt;unknown&gt;"
description = "&lt;unknown&gt;"
[palette]
base = "#6e738d" # Базовый фон
main_text = "#cad3f5" # Основной текст
alt_text = "#8aadf4" # Второй текст