QMenuBar {
    background-color: {{ theme.baseInput() | color}};
    color: {{ theme.altText | color }};
}

QMenuBar::item:selected {
    background-color: {{ theme.hovered() | color }};
    color: {{ theme.mainSelectText() | color }}
}

QMenu {
    background-color: {{ theme.base | opacity(255) }};
    color: {{ theme.altText | color }};
    border: 1px solid {{ theme.mainText | color }};
}

QMenu::item:selected {
    color: {{ theme.mainSelectText() | color }};
}